.conteneur{
    display:grid;
    grid-template-columns: 1fr;
    margin:0 auto;

    .section-evenements{
   
        background-image: linear-gradient(to bottom, grey, rgba(255, 0, 0, 0.5));
        color:rgba(255,255,255, 0.8);
        max-width:70vw;
        margin:0 auto;
        border-radius:0.4em;
        border-bottom:0.3em solid rgba(0,0,0, 0.7);
        padding-left:0.6em;
        padding-right:0.6em;
        margin-bottom:1em;
    
        h3{
            color:white;
            text-shadow: 0.1em 0.1em rgba(255, 0, 0, 0.3);	
        }
    
        p:nth-of-type(1){
            border-bottom:0.3em dotted rgba(0,0,0, 0.6);
        }
    }
    
    .section-evenements:hover{
        color:white;
    }

    .section-nouvelles{
        background-image: linear-gradient(to right, rgba(255,255,255, 0.8),  rgba(255,255,255, 0.6), grey);
        color:black;
        margin:0 auto;
        padding-left:2em;
        padding-right:2em;
        border-radius:1em;
        margin-bottom:1em;
        text-shadow: 0.05em 0.05em rgba(255, 255, 255, 0.8);	
       
        h3{
            text-shadow: 0.07em 0.07em rgba(255, 0, 0, 0.3);	
            border-left: 0.15em solid rgba(255, 0, 0, 0.7);
            padding-left:0.4em;
        }
    }

   
    
}




@include media (tablet) {
        .conteneur{       
            grid-template-columns: 1fr;    
            margin:0 auto;
        

        }            
    }

    @include media (desktop) {
        .conteneur{       
            grid-template-columns: 1fr;   
            margin:0 auto;
        }         
    }
