.section-evenements{
    background-image: linear-gradient(to bottom, grey, rgba(255, 0, 0, 0.5));
    color:rgba(255,255,255, 0.8);
    max-width:70vw;
    margin:0 auto;
    border-radius:0.4em;
    border-bottom:0.3em solid rgba(0,0,0, 0.7);
    padding-left:0.6em;
    padding-right:0.6em;

}

